body {
  font-family: 'Nunito', sans-serif;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.todolist {
  max-width: 600px;
  margin: 20px auto;
  background-color: #333333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 191, 174, 0.1); /* Svetlo siva senca */
}

.greetings {
  text-align: center;
}

.input {
  margin-bottom: 20px;
}

input[type="text"] {
  width: calc(100% - 150px);
  padding: 10px;
  border: 1px solid #555555; /* Siva meja */
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  background-color: #222222; /* Temno siva ozadje */
  color: #ffffff; /* Bele besede */
}

#addTask {
  padding: 10px 20px;
  background-color: #00bfae; /* Barva gumba */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#addTask:hover {
  background-color: #009f90; /* Temnejša barva ob prehodu */
}

input[type="checkbox"] {
  height: 16px;
  width: 16px;
}

button {
  padding: 10px 20px;
  background-color: #555555; /* Siva barva gumba */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #00bfae; /* Barva gumba ob prehodu */
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #00bfae; /* Barva naslova */
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #444444; /* Siva barva za naloge */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.task-controls {
  margin-left: auto;
}

/* Responsive design */
@media screen and (max-width: 600px) {
  .todolist {
      padding: 15px;
  }

  input[type="text"] {
      width: calc(100% - 120px); /* Prilagojena širina */
  }

  #addTask {
      padding: 8px 15px; /* Prilagojeno velikost gumba */
      font-size: 14px;
  }

  button {
      padding: 8px 15px;
      font-size: 14px;
  }
}
